<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="core/general.html :: headblock"/>
    <title>Helpdesk - USER!</title>
</head>
<body>
<th:block th:insert="core/general.html :: header"/>
<div class="container">

    <h2>Мои заявки:</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Категория</th>
            <th scope="col">Описание проблемы</th>
            <th scope="col">Время создания</th>
            <th scope="col">Статус</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.title}"></td>
            <td th:text="${ticket.description}"></td>
            <td th:text="${#temporals.format(ticket.creationAt, 'HH:mm:ss dd-MM-yyyy')}"></td>
            <td th:text="${ticket.displayStatus}"></td>
            <td><a class="btn btn-primary" th:href="@{/ticket/{id}(id = ${ticket.id})}">Подробнее</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a class="btn btn-primary" th:href="@{/ticket/new}">Создать новую заявку</a>
</div>
</body>
</html>